:root {
  --gradient: linear-gradient(
    45deg,
    #ff9ca1,
    #ff6aa3,
    #8078f0,
    hsl(252, 60%, 52%),
    #3651da,
    #ff18f7,
    #ff8f06
  );
}

.gradient-animation {
  background-size: 600%;
  background-image: var(--gradient);
  animation: bg-animation 90s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
